#map {
    width: auto;
    height: 650px;
}

#combobox1 {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 30% ;
}

#comboboxQH {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 100%;
}


#combobox2 {
    padding: 6px 8px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    /*background-color: rgba(255,255,255,0.8);*/
    /*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
    /*border-radius: 5px;*/
    width: 100%;
}

#save {
    background-color: blue; /* Green */
    color: white;
    border-radius: 50%;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    box-shadow: -3px 3px orange, -2px 2px orange, -1px 1px orange;
    border: 1px solid orange;
}

#save:hover {
    background-color: #3e8e41
}

#save:active {
    transform: translateY(2px)
}